RUBIO 
<%= form_tag "/search" do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>
  <%= label_tag :band %>
  <%= text_field_tag :band %>
<%= submit_tag "Search" %>
<% end %>
<br>
<% @tracks.each do |track| %> 
  <%= link_to track.title, track_path(track) %>
  <%= track_path(track.to_param, category: "metal") %>
  <%= image_tag track.cover, heigth: 80, width: 80 %> <%= track.title %> - <%= track.band %> <br>
<% end %>
